* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial,Sans-serif;
}
body {
  background-color: #fff0f6;
}
header {
  background-color : #f7a8c9;
  color : white;
  padding: 20px;
}
header 1 {
  margin-bottom: 10px;
}
nav ui {
  display: flex;
  list-style: none;
  gap: 20px;
}
nav a {
  color : white;
  text-decoration: none;
}
main {
  display: flex;
  gap: 20px;
  padding : 20px;
}
.content{
  flex: 3;
}
article {
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 20px;
  border radius : 8px;
}
aside {
  flex: 1;
  background-color: #ffe6ef;
  padding: 15px;
  border radius : 8px;
  text-align: center;
}
aside img {
  width : 100%;
  max-width: 150px;
  border radius: 50px;
  margin-bottom: 10px;
}
footer {
  background-color: #e84393;
  background-color: white;
  text-align: center;
  padding: 15px;
}
@media screen and (max-width :768px){
  header{
    text-align: center;
  }
  nav ui {
    flex-direction : column;
    align-items: center;
    gap: 10px;
  }
  main {
    flex-direction: column;
  }
  .content,
  aside{
    width : 100%;
  }
  aside img {
    max-width: 120px;
  }
}